@use "../../variable";

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: variable.$header-height;

  .inner {
    max-width: variable.$inner-max-witdh;
    padding: 10px;

    background-color: map-get(variable.$color, black);
    color: map-get(variable.$color, lightWhite);
    font-weight: map-get(variable.$font-weight, regular);
    font-size: 0.9em;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;
      gap: 15px;

      li {
        cursor: pointer;
        padding: 10px;
      }

      .login {
        border: 1px solid map-get(variable.$color, lightWhite);
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: nth(variable.$breakpoints, 2)) {
  .header {
    display: none;
  }
}
