@use "../../variable";
@use "../../mixin";

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: variable.$header-height;

  @include mixin.inner {
    color: map-get(variable.$color, lightWhite);
    background-color: map-get(variable.$color, lightBlack);
    font-size: 0.9em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    // ul 공통 스타일
    ul {
      list-style: none;
      display: flex;

      li {
        cursor: pointer;
      }
    }

    .mianMenuBox {
      text-transform: uppercase;
      font-weight: map-get(variable.$font-weight, bold);

      li {
        padding: 10px 20px;
      }
    }

    .utilityMenuBox {
      li {
        padding: 5px 10px;
      }

      .login {
        border: 1px solid map-get(variable.$color, lightWhite);
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: nth(variable.$breakpoints, 2)) {
  .header {
    display: none;
  }
}
