@use "../../variable";
@use "../../mixin";

.headerSearchBar {
  padding-top: variable.$header-height;
  color: map-get(variable.$color, lightWhite);

  @include mixin.inner {
    background-color: map-get(variable.$color, lightBlack);
    display: grid;
    gap: 10px;

    .titleBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      .title {
        font-size: 1.2em;
        font-weight: map-get(variable.$font-weight, bold);
        padding: 10px;
      }

      .bellIcon {
        cursor: pointer;
      }
    }

    .searchBox {
      position: relative;
      height: 36px;
      padding: 0 10px;

      .inputButton {
        display: block;
        width: 100%;
        height: 100%;

        border-radius: 6px;
        border: none;
        cursor: pointer;
      }

      .searchIcon {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
      }

      .searchTxt {
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
        color: map-get(variable.$color, lightGray);
        font-size: 0.9em;
      }
    }
  }
}

@media (max-width: map-get(variable.$breakpoints, tablet)) {
  .headerSearchBar {
    padding-top: 0;

    .bellIcon {
      width: 25px;
      height: 25px;
    }
  }
}
