@use "../../variable";

$border-radius: 8px;

.productCard {
  height: variable.$productCard-height;
  font-size: 0.9em;

  display: grid;
  grid-template-rows: 6fr 4fr;
  cursor: pointer;
  position: relative;

  width: 150px;
  height: 200px;

  .loading {
    position: absolute;
    left: 0;
    right: 0;
    height: 70%;
    border-radius: $border-radius $border-radius 0 0;
    background-color: map-get(variable.$color, white);
    transition: opacity 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: map-get(variable.$color, white);

    border-radius: $border-radius $border-radius 0 0;
  }

  .productDirBox {
    padding: 10px;
    background-color: map-get(variable.$color, white);
    border-radius: 0 0 $border-radius $border-radius;

    .productBrand,
    .productPrice {
      font-weight: map-get(variable.$font-weight, bold);
    }

    .productTitle {
      font-size: inherit;
      font-weight: map-get(variable.$font-weight, regular);
    }
  }
}

@media (min-width: map-get(variable.$breakpoints,tablet)) {
  .productCard {
    width: 250px;
    height: 300px;
  }
}
