// 모바일, 테블릿 브레이크 포인트
$breakpoints: (
  mobile: 600px,
  tablet: 1024px,
);

// 헤더 높이
$header-height: 60px;

// 공용 inner 최대 크기
$inner-max-width: 1500px;

// 상품 카드 크기
$productCard-Size: (
  mobile-width: 150px,
  mobile-height: 200px,

  tablet-width: 250px,
  tablet-height: 300px,
);

// 모바일, 테블릿, PC 기준
$font-size: (
  mobile: 14px,
  tablet: 15px,
  pc: 16px,
);

// 색깔
$color: (
  black: rgb(0, 0, 0),
  lightBlack: rgb(26, 27, 31),
  lightGray: rgb(147, 153, 173),
  white: rgb(255, 255, 255),
  lightWhite: rgb(235, 235, 235),
  lightRed: rgb(243, 17, 16),
);

// 폰트 굵기
$font-weight: (
  regular: 400,
  medium: 500,
  bold: 700,
);
