@use "./variable";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 반응형 전역 설정 */

// 모바일
body {
  font-size: map-get(variable.$font-size, mobile);
}

// 테블릿, pc
@for $i from 1 through length(variable.$breakpoints) {
  @media (min-width: nth(map-values(variable.$breakpoints), $i)) {
    body {
      font-size: nth(map-values(variable.$font-size), $i + 1);
    }
  }
}
