@use "./variable";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// 반응형 전역 설정
@for $screen-size from 1 through 3 {
  // 모바일
  @if $screen-size == 1 {
    body {
      font-size: nth(variable.$font-size, $screen-size);
    }
  }

  // 테블릿, PC
  @else {
    @media (min-width: nth(variable.$breakpoints, $screen-size - 1)) {
      body {
        font-size: nth(variable.$font-size, $screen-size);
      }
    }
  }
}
