@use "../../variable";

.productItemTitle {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .title {
    font-size: 1em;
    font-weight: map-get(variable.$font-weight, bold);
  }

  .brand {
    font-size: 0.8em;
  }
}
