@use "../../variable";
@use "../../mixin";

.main {
  @include mixin.inner {
    background-color: map-get(variable.$color, lightWhite);

    .title {
      font-size: 1.1em;
      font-weight: map-get(variable.$font-weight, medium);
      padding-bottom: 10px;
    }

    .products {
      display: flex;
      gap: 16px;
      overflow-x: hidden;

      & > * {
        flex: 0 0 auto;
      }
    }
  }
}
