@use "../../variable";
@use "../../mixin";

.productCategorySection {
  @include mixin.inner {
    background-color: map-get(variable.$color, lightWhite);
    padding: 15px;

    .title {
      font-size: 1.1em;
      font-weight: map-get(variable.$font-weight, medium);
      padding-bottom: 10px;
    }

    .products {
      overflow-x: auto;

      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: map-get(variable.$productCard-Size, mobile-width);
      gap: 16px;

      & > * {
        height: map-get(variable.$productCard-Size, mobile-height);
      }

      -ms-overflow-style: none; /* IE, Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (min-width: map-get(variable.$breakpoints, tablet)) {
  .productCategorySection {
    .inner {
      .products {
        grid-auto-columns: map-get(variable.$productCard-Size, tablet-width);

        & > * {
          height: map-get(variable.$productCard-Size, tablet-height);
        }
      }
    }
  }
}
