@use "../../variable";

.productLoadingCard {
  background-color: map-get(variable.$color, white);
  border-radius: 8px;
  height: variable.$productCard-height;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 200px;
}

@media (min-width: map-get(variable.$breakpoints,tablet)) {
  .productLoadingCard {
    width: 250px;
    height: 300px;
  }
}
